In [1]:
import pandas as pd
import logging
import numpy as np
from scipy.stats import norm
import utils
import importlib

importlib.reload(utils)

In [2]:
inp = input("Level of logging (DEBUG, INFO, WARNING, ERROR, CRITICAL): ")
logging.basicConfig(level=getattr(logging, inp), force=True)

# Import Data

In [3]:
data = pd.read_csv('data/all_years/24_25.csv')
data["Date"] = pd.to_datetime(data["Date"], format="%d/%m/%Y")
data = data.sort_values(by=["Date", "Time"]).reset_index(drop=True)
t = len(data)
data

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,2024-08-16,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,2024-08-17,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,2024-08-17,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,2024-08-17,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,2024-08-17,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,E0,2024-12-04,19:30,Southampton,Chelsea,1,5,A,1,3,...,2.07,1.86,2.07,1.87,2.07,1.90,2.01,1.86,2.07,1.92
136,E0,2024-12-04,20:15,Arsenal,Man United,2,0,H,0,0,...,2.07,1.86,2.07,1.86,2.07,1.93,1.99,1.87,2.06,1.93
137,E0,2024-12-04,20:15,Aston Villa,Brentford,3,1,H,3,0,...,1.85,2.08,1.85,2.08,1.88,2.08,1.84,2.02,1.92,2.07
138,E0,2024-12-05,19:30,Fulham,Brighton,3,1,H,1,0,...,1.94,1.99,1.94,1.98,1.96,2.00,1.92,1.96,1.97,2.01
139,E0,2024-12-05,20:15,AFC Bournemouth,Tottenham,1,0,H,1,0,...,1.95,1.98,1.95,1.97,1.99,2.02,1.91,1.95,1.96,2.02

In [4]:
remaining = pd.read_csv('data/all_years/24_25_remaining.csv')
remaining

              HomeTeam       AwayTeam
0              Everton      Liverpool
1          Aston Villa    Southampton
2            Brentford      Newcastle
3       Crystal Palace       Man City
4              Man Utd  Nott'm Forest
..                 ...            ...
235   Newcastle United        Everton
236  Nottingham Forest        Chelsea
237        Southampton        Arsenal
238              Spurs       Brighton
239             Wolves      Brentford

[240 rows x 2 columns]

In [5]:
# Concatenate remaining data to the original data
data = pd.concat([data, remaining], ignore_index=True)
data["TeamEloWinProb"] = 0
data

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA,TeamEloWinProb
0,E0,2024-08-16,20:00,Man United,Fulham,1.0,0.0,H,0.0,0.0,...,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08,0
1,E0,2024-08-17,12:30,Ipswich,Liverpool,0.0,2.0,A,0.0,0.0,...,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93,0
2,E0,2024-08-17,15:00,Arsenal,Wolves,2.0,0.0,H,1.0,0.0,...,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96,0
3,E0,2024-08-17,15:00,Everton,Brighton,0.0,3.0,A,0.0,1.0,...,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11,0
4,E0,2024-08-17,15:00,Newcastle,Southampton,1.0,0.0,H,1.0,0.0,...,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,NaN,NaT,NaN,Newcastle United,Everton,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
376,NaN,NaT,NaN,Nottingham Forest,Chelsea,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
377,NaN,NaT,NaN,Southampton,Arsenal,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
378,NaN,NaT,NaN,Spurs,Brighton,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
379,NaN,NaT,NaN,Wolves,Brentford,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [6]:
to_predict = pd.read_csv('data/epl-test.csv')
to_predict

        Date           HomeTeam        AwayTeam
0  01-Feb-25    AFC Bournemouth       Liverpool
1  01-Feb-25            Arsenal        Man City
2  01-Feb-25          Brentford           Spurs
3  01-Feb-25            Chelsea        West Ham
4  01-Feb-25            Everton  Leicester City
5  01-Feb-25       Ipswich Town     Southampton
6  01-Feb-25            Man Utd  Crystal Palace
7  01-Feb-25          Newcastle          Fulham
8  01-Feb-25  Nottingham Forest        Brighton
9  01-Feb-25             Wolves     Aston Villa

In [7]:
t_k = data[(data["HomeTeam"] == "AFC Bournemouth") & (data["AwayTeam"] == "Liverpool")].index[0]
print(t_k)
data.iloc[t_k]

230

Div                           NaN
Date                          NaT
Time                          NaN
HomeTeam          AFC Bournemouth
AwayTeam                Liverpool
                       ...
AvgCAHH                       NaN
AvgCAHA                       NaN
BFECAHH                       NaN
BFECAHA                       NaN
TeamEloWinProb                  0
Name: 230, Length: 121, dtype: object

# Run a single simulation

In [8]:
standings = utils.calculate_standings(data, 0, t)
standings

                 Team  Points
0           Liverpool      35
1             Arsenal      28
2             Chelsea      28
3            Man City      26
4            Brighton      23
5              Fulham      22
6       Nott'm Forest      22
7         Aston Villa      22
8     AFC Bournemouth      21
9           Newcastle      20
10          Brentford      20
11          Tottenham      20
12         Man United      19
13           West Ham      15
14            Everton      14
15          Leicester      13
16     Crystal Palace      12
17            Ipswich       9
18             Wolves       9
19        Southampton       5
20            Man Utd       0
21              Spurs       0
22       Ipswich Town       0
23   Newcastle United       0
24  Nottingham Forest       0
25     Leicester City       0

In [9]:
simulated_standings = utils.run_simulation(data, standings, t, t_k).sort_values(by="Points", ascending=False).reset_index(drop=True)
simulated_standings

                 Team  Points
0            Man City      67
1             Chelsea      66
2           Liverpool      64
3     AFC Bournemouth      60
4             Arsenal      60
5              Fulham      53
6      Crystal Palace      52
7         Aston Villa      51
8            Brighton      50
9           Brentford      48
10           West Ham      41
11            Everton      38
12             Wolves      37
13      Nott'm Forest      36
14            Man Utd      36
15        Southampton      33
16          Newcastle      31
17          Leicester      26
18   Newcastle United      23
19            Ipswich      22
20       Ipswich Town      22
21          Tottenham      20
22              Spurs      20
23     Leicester City      20
24         Man United      19
25  Nottingham Forest      17

In [10]:
utils.calculate_outcomes(simulated_standings, "AFC Bournemouth", "Liverpool")

(0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1)

# Predict match importance for match $t+k$ with repeated simulations

In [11]:
data.loc[t_k, ["HI", "AI"]] = utils.calculate_match_importance( # type: ignore
    data,
    standings,
    t_k,
    t,
    nruns=100,
)

In [12]:
data.iloc[t_k]

Div                           NaN
Date                          NaT
Time                          NaN
HomeTeam          AFC Bournemouth
AwayTeam                Liverpool
                       ...
BFECAHH                       NaN
BFECAHA                       NaN
TeamEloWinProb                  0
HI                            0.0
AI                           0.03
Name: 230, Length: 123, dtype: object

# Backfill match importance in master file

In [13]:
master = pd.read_csv('data/michal-master.csv').drop_duplicates()
master["Date"] = pd.to_datetime(master["Date"], format="%Y-%m-%d").dt.strftime("%d-%b-%y")
master

,Date,HomeTeam,AwayTeam,HomeElo,AwayElo,HomeRank,AwayRank,HomePlayerRatingCount,HomePlayerRatingMean,HomePlayerRatingStd,AwayPlayerRatingCount,AwayPlayerRatingMean,AwayPlayerRatingStd,TeamEloWinProb,PlayerEloDrawProb,PlayerEloWinProb,HomeEloMomentum,AwayEloMomentum,HomeRankMomentum,AwayRankMomentum
0,05-Jan-10,Stoke,Fulham,1621.513306,1739.930908,15.0,8.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.335889,0.330000,0.330000,0.000000,0.000000,0.0,0.0
1,09-Jan-10,Arsenal,Everton,1877.290039,1703.894897,3.0,9.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.730693,0.330000,0.330000,0.000000,0.000000,0.0,0.0
2,09-Jan-10,Birmingham,Man United,1653.174805,1927.595947,11.0,2.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.170839,0.330000,0.330000,0.000000,0.000000,0.0,0.0
3,11-Jan-10,Man City,Blackburn,1745.521851,1642.066650,7.0,13.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.644634,0.330000,0.330000,0.000000,0.000000,0.0,0.0
4,16-Jan-10,Chelsea,Sunderland,1945.430176,1606.012695,1.0,18.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.875865,0.330000,0.330000,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5799,19-May-24,Crystal Palace,Aston Villa,1742.572754,1787.570190,9.0,7.0,14.0,6.966429,0.327689,14.0,6.925714,0.291908,0.435603,0.269324,0.475556,-48.135376,41.060791,6.0,-2.0
5800,19-May-24,Liverpool,Wolves,1898.975098,1681.206665,3.0,16.0,17.0,7.169412,0.293948,15.0,6.921333,0.225325,0.777918,0.209490,0.643965,19.503418,38.082886,0.0,-3.0
5801,19-May-24,Luton,Fulham,1577.058716,1707.895386,22.0,13.0,16.0,6.679375,0.278242,15.0,6.836000,0.187111,0.320134,0.279518,0.298134,39.452759,11.820312,0.0,0.0
5802,19-May-24,Man City,West Ham,2044.003174,1728.072998,1.0,11.0,13.0,7.429231,0.306104,12.0,6.951667,0.301160,0.860403,0.117857,0.817173,-3.334229,51.946533,0.0,-3.0
5803,19-May-24,Sheffield United,Tottenham,1525.627808,1789.705566,25.0,6.0,13.0,6.550769,0.239341,14.0,7.107857,0.270955,0.179439,0.155874,0.093552,42.015991,28.749390,-2.0,-1.0

In [14]:
all_years = pd.concat(
    [
        pd.read_csv(f"data/all_years/{season}.csv")
        for season in [
            f"{i}_{i+1}"
            for i in range(17, 24)
        ]
    ]
)
all_years["Date"] = pd.to_datetime(all_years["Date"], format="%d/%m/%Y").dt.strftime("%d-%b-%y")
all_years = all_years.sort_values(by=["Date"]).reset_index(drop=True)
all_years

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,01-Apr-18,Chelsea,Tottenham,1,3,A,1,1,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,01-Apr-18,Arsenal,Stoke,3,0,H,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,01-Apr-19,Arsenal,Newcastle,2,0,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,01-Apr-23,Chelsea,Aston Villa,0,2,A,0,1,A,...,1.89,-1.00,2.04,1.86,2.07,1.86,2.11,1.88,2.05,1.82
4,E0,01-Apr-23,Brighton,Brentford,3,3,D,2,2,D,...,2.03,-1.00,2.01,1.89,2.10,1.84,2.11,1.90,2.05,1.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,E0,31-Oct-20,Sheffield United,Man City,0,1,A,0,1,A,...,2.47,1.50,2.05,1.85,2.06,1.88,2.09,1.91,2.04,1.85
2656,E0,31-Oct-20,Burnley,Chelsea,0,3,A,0,1,A,...,2.02,1.00,1.83,2.07,1.84,2.10,1.94,2.12,1.84,2.04
2657,E0,31-Oct-20,Liverpool,West Ham,2,1,H,1,1,D,...,2.85,-1.25,1.91,1.99,1.93,2.00,1.94,2.04,1.90,1.99
2658,E0,31-Oct-21,Aston Villa,West Ham,1,4,A,1,2,A,...,2.07,0.25,1.79,2.11,1.78,2.16,1.90,2.17,1.82,2.07
2659,E0,31-Oct-21,Norwich,Leeds,1,2,A,0,0,D,...,2.03,0.50,1.82,2.08,1.85,2.08,1.87,2.13,1.83,2.05

In [15]:
# Add team ELO feature from master to all_years
joined = all_years.merge(
    master,
    on=["Date", "HomeTeam", "AwayTeam"],
    suffixes=("", "_master"),
)
joined[["HI", "AI"]] = np.nan
joined

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AwayPlayerRatingStd,TeamEloWinProb,PlayerEloDrawProb,PlayerEloWinProb,HomeEloMomentum,AwayEloMomentum,HomeRankMomentum,AwayRankMomentum,HI,AI
0,E0,01-Apr-18,Chelsea,Tottenham,1,3,A,1,1,D,...,0.314261,0.400560,0.330000,0.330000,62.887573,-12.539673,-2.0,1.0,NaN,NaN
1,E0,01-Apr-18,Arsenal,Stoke,3,0,H,0,0,D,...,0.209960,0.757401,0.330000,0.330000,20.978882,7.470215,0.0,-2.0,NaN,NaN
2,E0,01-Apr-19,Arsenal,Newcastle,2,0,H,1,0,H,...,0.269946,0.762502,0.264235,0.583491,-44.682373,-34.069458,0.0,0.0,NaN,NaN
3,E0,01-Apr-23,Chelsea,Aston Villa,0,2,A,0,1,A,...,0.211743,0.633912,0.283756,0.345526,-3.108887,-16.866943,0.0,2.0,NaN,NaN
4,E0,01-Apr-23,Brighton,Brentford,3,3,D,2,2,D,...,0.298958,0.551750,0.245072,0.555928,-5.924194,-3.851929,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,E0,31-Oct-20,Sheffield United,Man City,0,1,A,0,1,A,...,0.293777,0.151418,0.100073,0.050099,9.968994,-5.697266,-3.0,0.0,NaN,NaN
2656,E0,31-Oct-20,Burnley,Chelsea,0,3,A,0,1,A,...,0.198698,0.303893,0.265946,0.220183,18.240723,-22.960083,-3.0,-1.0,NaN,NaN
2657,E0,31-Oct-20,Liverpool,West Ham,2,1,H,1,1,D,...,0.214996,0.811365,0.252909,0.552254,-0.649536,-67.574219,0.0,4.0,NaN,NaN
2658,E0,31-Oct-21,Aston Villa,West Ham,1,4,A,1,2,A,...,0.249537,0.366170,0.278966,0.309205,-4.289429,-14.317749,-1.0,1.0,NaN,NaN
2659,E0,31-Oct-21,Norwich,Leeds,1,2,A,0,0,D,...,0.266850,0.325395,0.274890,0.285307,13.161987,12.678955,-2.0,0.0,NaN,NaN

In [16]:
# Length of a season is 380 games
joined = utils.backfill_szn_match_importance(
    joined,
    0,
    380,
    10
)
joined.head(20)

INFO:utils:Match 0 done: Chelsea vs Tottenham, 0.30000000000000004, 0.4
INFO:utils:Match 1 done: Arsenal vs Stoke, 0.0, 0.0
INFO:utils:Match 2 done: Arsenal vs Newcastle, 0.0, 0.1
INFO:utils:Match 3 done: Chelsea vs Aston Villa, 0.0, 0.0
INFO:utils:Match 4 done: Brighton vs Brentford, 0.0, 0.0
INFO:utils:Match 5 done: Bournemouth vs Fulham, 0.0, 0.0
INFO:utils:Match 6 done: Man City vs Liverpool, 0.1, 0.30000000000000004
INFO:utils:Match 7 done: Nott'm Forest vs Wolves, 0.0, 0.1
INFO:utils:Match 8 done: Arsenal vs Leeds, 0.0, 0.0
INFO:utils:Match 9 done: Crystal Palace vs Leicester, 0.0, 0.0
INFO:utils:Match 10 done: Southampton vs Man United, 0.0, 0.0
INFO:utils:Match 11 done: Man City vs Bournemouth, 0.09999999999999998, 0.0
INFO:utils:Match 12 done: Leicester vs Watford, 0.0, 0.0
INFO:utils:Match 13 done: Newcastle vs West Ham, 0.0, 0.0
INFO:utils:Match 14 done: Huddersfield vs Brighton, 0.0, 0.0
INFO:utils:Match 15 done: Crystal Palace vs Burnley, 0.0, 0.0
INFO:utils:Match 16 done: Man United vs Aston Villa, 0.0, 0.0
INFO:utils:Match 17 done: Norwich vs Arsenal, 0.0, 0.0
INFO:utils:Match 18 done: Leicester vs Everton, 0.0, 0.1
INFO:utils:Match 19 done: Wolves vs Sheffield United, 0.0, 0.0
INFO:utils:Match 20 done: Southampton vs Leicester, 0.0, 0.0
INFO:utils:Match 21 done: Watford vs Chelsea, 0.0, 0.09999999999999998
INFO:utils:Match 22 done: West Ham vs Brighton, 0.2, 0.0
INFO:utils:Match 23 done: Wolves vs Burnley, 0.0, 0.0
INFO:utils:Match 24 done: Aston Villa vs Man City, 0.0, 0.09999999999999998
INFO:utils:Match 25 done: Everton vs Liverpool, 0.30000000000000004, 0.09999999999999998
INFO:utils:Match 26 done: Liverpool vs Southampton, 0.19999999999999996, 0.0
INFO:utils:Match 27 done: Crystal Palace vs Sheffield United, 0.0, 0.0
INFO:utils:Match 28 done: Bournemouth vs Aston Villa, 0.0, 0.0
INFO:utils:Match 29 done: Newcastle vs Norwich, 0.0, 0.0
INFO:utils:Match 30 done: West Ham vs Brighton, 0.1, 0.0
INFO:utils:Match 31 done: Man United vs Wolves, 0.2, 0.0
INFO:utils:Match 32 done: Watford vs Everton, 0.0, 0.1
INFO:utils:Match 33 done: Leicester vs Chelsea, 0.0, 0.0
INFO:utils:Match 34 done: West Ham vs Bournemouth, 0.0, 0.0
INFO:utils:Match 35 done: Wolves vs Man United, 0.0, 0.0
INFO:utils:Match 36 done: Burnley vs Liverpool, 0.0, 0.0
INFO:utils:Match 37 done: Brighton vs Bournemouth, 0.0, 0.0
INFO:utils:Match 38 done: Stoke vs Newcastle, 0.0, 0.0
INFO:utils:Match 39 done: Everton vs Man United, 0.09999999999999998, 0.0
INFO:utils:Match 40 done: Leicester vs Huddersfield, 0.0, 0.0
INFO:utils:Match 41 done: Arsenal vs Fulham, 0.0, 0.0
INFO:utils:Match 42 done: Cardiff vs Tottenham, 0.0, 0.0
INFO:utils:Match 43 done: Everton vs Leicester, 0.1, 0.0
INFO:utils:Match 44 done: Arsenal vs Man United, 0.0, 0.0
INFO:utils:Match 45 done: Brighton vs Chelsea, 0.0, 0.2
INFO:utils:Match 46 done: Burnley vs Aston Villa, 0.0, 0.0
INFO:utils:Match 47 done: West Ham vs Bournemouth, 0.0, 0.0
INFO:utils:Match 48 done: Man City vs Everton, 0.1, 0.10000000000000003
INFO:utils:Match 49 done: Norwich vs Crystal Palace, 0.0, 0.0
INFO:utils:Match 50 done: Newcastle vs Leicester, 0.0, 0.0
INFO:utils:Match 51 done: Southampton vs Tottenham, 0.0, 0.0
INFO:utils:Match 52 done: Watford vs Wolves, 0.0, 0.0
INFO:utils:Match 53 done: Everton vs West Ham, 0.0, 0.1
INFO:utils:Match 54 done: Man United vs Aston Villa, 0.0, 0.0
INFO:utils:Match 55 done: Watford vs Tottenham, 0.0, 0.0
INFO:utils:Match 56 done: Arsenal vs Man City, 0.1, 0.0
INFO:utils:Match 57 done: Crystal Palace vs West Ham, 0.0, 0.1
INFO:utils:Match 58 done: Tottenham vs Aston Villa, 0.0, 0.0
INFO:utils:Match 59 done: Nott'm Forest vs Chelsea, 0.0, 0.0
INFO:utils:Match 60 done: Liverpool vs Newcastle, 0.0, 0.0
INFO:utils:Match 61 done: Arsenal vs Norwich, 0.0, 0.0
INFO:utils:Match 62 done: Bournemouth vs Newcastle, 0.0, 0.0
INFO:utils:Match 63 done: Everton vs Leicester, 0.0, 0.0
INFO:utils:Match 64 done: West Ham vs Chelsea, 0.0, 0.1
INFO:utils:Match 65 done: Arsenal vs Man City, 0.0, 0.0
INFO:utils:Match 66 done: Everton vs Man United, 0.09999999999999998, 0.0
INFO:utils:Match 67 done: Tottenham vs Wolves, 0.0, 0.0
INFO:utils:Match 68 done: Everton vs Southampton, 0.0, 0.0
INFO:utils:Match 69 done: Burnley vs Leicester, 0.0, 0.0
INFO:utils:Match 70 done: Liverpool vs Wolves, 0.0, 0.0
INFO:utils:Match 71 done: Arsenal vs Everton, 0.0, 0.1
INFO:utils:Match 72 done: Chelsea vs Fulham, 0.30000000000000004, 0.0
INFO:utils:Match 73 done: Brighton vs Leeds, 0.0, 0.0
INFO:utils:Match 74 done: Crystal Palace vs Man City, 0.0, 0.1
INFO:utils:Match 75 done: Everton vs Aston Villa, 0.2, 0.0
INFO:utils:Match 76 done: Everton vs Chelsea, 0.0, 0.20000000000000007
INFO:utils:Match 77 done: Tottenham vs Leicester, 0.10000000000000009, 0.0
INFO:utils:Match 78 done: West Ham vs Arsenal, 0.2, 0.2
INFO:utils:Match 79 done: Leicester vs Everton, 0.0, 0.0
INFO:utils:Match 80 done: Newcastle vs Everton, 0.0, 0.0
INFO:utils:Match 81 done: Man United vs Arsenal, 0.1, 0.0
INFO:utils:Match 82 done: Tottenham vs Brighton, 0.19999999999999996, 0.0
INFO:utils:Match 83 done: Aston Villa vs Southampton, 0.0, 0.0
INFO:utils:Match 84 done: Wolves vs Everton, 0.0, 0.0
INFO:utils:Match 85 done: Arsenal vs Brighton, 0.0, 0.0
INFO:utils:Match 86 done: Everton vs Burnley, 0.0, 0.0
INFO:utils:Match 87 done: Newcastle vs Liverpool, 0.0, 0.09999999999999998
INFO:utils:Match 88 done: Bournemouth vs Crystal Palace, 0.0, 0.0
INFO:utils:Match 89 done: Fulham vs Newcastle, 0.0, 0.0
INFO:utils:Match 90 done: Bournemouth vs Brentford, 0.0, 0.0
INFO:utils:Match 91 done: Arsenal vs Tottenham, 0.0, 0.09999999999999998
INFO:utils:Match 92 done: Crystal Palace vs Chelsea, 0.0, 0.1
INFO:utils:Match 93 done: Liverpool vs Brighton, 0.0, 0.0
INFO:utils:Match 94 done: West Ham vs Wolves, 0.0, 0.0
INFO:utils:Match 95 done: Southampton vs Everton, 0.0, 0.0
INFO:utils:Match 96 done: Nott'm Forest vs Brentford, 0.0, 0.0
INFO:utils:Match 97 done: Brighton vs Fulham, 0.0, 0.0
INFO:utils:Match 98 done: West Ham vs Wolves, 0.1, 0.0
INFO:utils:Match 99 done: Man City vs Newcastle, 0.1, 0.0
INFO:utils:Match 100 done: Leicester vs Liverpool, 0.0, 0.0
INFO:utils:Match 101 done: Chelsea vs Bournemouth, 0.0, 0.0
INFO:utils:Match 102 done: Crystal Palace vs Southampton, 0.0, 0.0
INFO:utils:Match 103 done: Everton vs Huddersfield, 0.0, 0.0
INFO:utils:Match 104 done: Everton vs Wolves, 0.1, 0.0
INFO:utils:Match 105 done: Arsenal vs Tottenham, 0.0, 0.0
INFO:utils:Match 106 done: Leicester vs Man United, 0.0, 0.20000000000000007
INFO:utils:Match 107 done: Luton vs West Ham, 0.0, 0.0
INFO:utils:Match 108 done: Watford vs Fulham, 0.0, 0.0
INFO:utils:Match 109 done: Wolves vs Man United, 0.0, 0.0
INFO:utils:Match 110 done: Chelsea vs Brentford, 0.0, 0.0
INFO:utils:Match 111 done: Man United vs Leicester, 0.30000000000000004, 0.0
INFO:utils:Match 112 done: Wolves vs Aston Villa, 0.0, 0.0
INFO:utils:Match 113 done: Brighton vs Norwich, 0.09999999999999998, 0.0
INFO:utils:Match 114 done: Burnley vs Man City, 0.09999999999999998, 0.0
INFO:utils:Match 115 done: Liverpool vs Watford, 0.0, 0.0
INFO:utils:Match 116 done: Leeds vs Southampton, 0.0, 0.0
INFO:utils:Match 117 done: Newcastle vs Man United, 0.0, 0.0
INFO:utils:Match 118 done: West Ham vs Southampton, 0.0, 0.0
INFO:utils:Match 119 done: Newcastle vs Everton, 0.0, 0.0
INFO:utils:Match 120 done: West Ham vs Tottenham, 0.0, 0.20000000000000007
INFO:utils:Match 121 done: Burnley vs Wolves, 0.0, 0.0
INFO:utils:Match 122 done: Bournemouth vs Crystal Palace, 0.0, 0.0
INFO:utils:Match 123 done: Nott'm Forest vs Fulham, 0.0, 0.0
INFO:utils:Match 124 done: Arsenal vs Man United, 0.0, 0.09999999999999998
INFO:utils:Match 125 done: Brighton vs Liverpool, 0.0, 0.09999999999999998
INFO:utils:Match 126 done: Chelsea vs Newcastle, 0.2, 0.0
INFO:utils:Match 127 done: Everton vs Huddersfield, 0.0, 0.0
INFO:utils:Match 128 done: Stoke vs Swansea, 0.0, 0.0
INFO:utils:Match 129 done: Watford vs Tottenham, 0.0, 0.1
INFO:utils:Match 130 done: West Brom vs Crystal Palace, 0.0, 0.0
INFO:utils:Match 131 done: Leicester vs Burnley, 0.0, 0.0
INFO:utils:Match 132 done: Arsenal vs Tottenham, 0.10000000000000003, 0.10000000000000003
INFO:utils:Match 133 done: Chelsea vs Fulham, 0.0, 0.0
INFO:utils:Match 134 done: Liverpool vs Everton, 0.0, 0.0
INFO:utils:Match 135 done: Man United vs Arsenal, 0.1, 0.1
INFO:utils:Match 136 done: Tottenham vs Brentford, 0.0, 0.0
INFO:utils:Match 137 done: Arsenal vs Wolves, 0.1, 0.0
INFO:utils:Match 138 done: Burnley vs Sheffield United, 0.0, 0.0
INFO:utils:Match 139 done: Brentford vs Luton, 0.0, 0.0
INFO:utils:Match 140 done: Nott'm Forest vs Everton, 0.0, 0.0
INFO:utils:Match 141 done: Newcastle vs Man United, 0.0, 0.0
INFO:utils:Match 142 done: Chelsea vs Huddersfield, 0.09999999999999998, 0.0
INFO:utils:Match 143 done: Tottenham vs Newcastle, 0.0, 0.0
INFO:utils:Match 144 done: Everton vs Wolves, 0.0, 0.0
INFO:utils:Match 145 done: Crystal Palace vs Fulham, 0.0, 0.0
INFO:utils:Match 146 done: Cardiff vs Bournemouth, 0.0, 0.0
INFO:utils:Match 147 done: Brighton vs Watford, 0.0, 0.0
INFO:utils:Match 148 done: Burnley vs Southampton, 0.0, 0.0
INFO:utils:Match 149 done: Burnley vs Arsenal, 0.0, 0.0
INFO:utils:Match 150 done: Tottenham vs Man City, 0.1, 0.20000000000000007
INFO:utils:Match 151 done: Newcastle vs Crystal Palace, 0.0, 0.0
INFO:utils:Match 152 done: Man United vs Southampton, 0.09999999999999998, 0.0
INFO:utils:Match 153 done: Wolves vs Arsenal, 0.0, 0.0
INFO:utils:Match 154 done: Sheffield United vs West Brom, 0.0, 0.0
INFO:utils:Match 155 done: West Ham vs West Brom, 0.0, 0.0
INFO:utils:Match 156 done: Swansea vs Tottenham, 0.0, 0.10000000000000009
INFO:utils:Match 157 done: Southampton vs Crystal Palace, 0.0, 0.0
INFO:utils:Match 158 done: Man City vs Watford, 0.19999999999999996, 0.0
INFO:utils:Match 159 done: Newcastle vs Man United, 0.0, 0.0
INFO:utils:Match 160 done: Bournemouth vs Watford, 0.0, 0.0
INFO:utils:Match 161 done: Wolves vs Crystal Palace, 0.0, 0.0
INFO:utils:Match 162 done: West Ham vs Brighton, 0.2, 0.0
INFO:utils:Match 163 done: Huddersfield vs Burnley, 0.0, 0.0
INFO:utils:Match 164 done: Chelsea vs Southampton, 0.2, 0.0
INFO:utils:Match 165 done: Liverpool vs Sheffield United, 0.0, 0.0
INFO:utils:Match 166 done: Brighton vs Wolves, 0.0, 0.0
INFO:utils:Match 167 done: Crystal Palace vs Sheffield United, 0.0, 0.0
INFO:utils:Match 168 done: Tottenham vs Leeds, 0.09999999999999998, 0.0
INFO:utils:Match 169 done: West Brom vs Arsenal, 0.0, 0.0
INFO:utils:Match 170 done: Leeds vs Burnley, 0.0, 0.0
INFO:utils:Match 171 done: Everton vs Brighton, 0.0, 0.0
INFO:utils:Match 172 done: Brentford vs Aston Villa, 0.0, 0.0
INFO:utils:Match 173 done: Chelsea vs Liverpool, 0.09999999999999998, 0.09999999999999998
INFO:utils:Match 174 done: Brentford vs Liverpool, 0.0, 0.0
INFO:utils:Match 175 done: West Ham vs Brighton, 0.10000000000000003, 0.0
INFO:utils:Match 176 done: Sheffield United vs Tottenham, 0.0, 0.09999999999999998
INFO:utils:Match 177 done: Man City vs Liverpool, 0.09999999999999998, 0.10000000000000009
INFO:utils:Match 178 done: Wolves vs Cardiff, 0.0, 0.0
INFO:utils:Match 179 done: Bournemouth vs Man City, 0.0, 0.19999999999999998
INFO:utils:Match 180 done: Brighton vs Huddersfield, 0.0, 0.0
INFO:utils:Match 181 done: Burnley vs Crystal Palace, 0.0, 0.0
INFO:utils:Match 182 done: Man United vs Southampton, 0.0, 0.0
INFO:utils:Match 183 done: West Ham vs Newcastle, 0.09999999999999998, 0.0
INFO:utils:Match 184 done: Tottenham vs Arsenal, 0.49999999999999994, 0.0
INFO:utils:Match 185 done: Man City vs Wolves, 0.0, 0.0
INFO:utils:Match 186 done: Newcastle vs Wolves, 0.0, 0.0
INFO:utils:Match 187 done: Brentford vs Chelsea, 0.0, 0.0
INFO:utils:Match 188 done: Everton vs West Ham, 0.0, 0.1
INFO:utils:Match 189 done: Luton vs Aston Villa, 0.0, 0.0
INFO:utils:Match 190 done: Tottenham vs Crystal Palace, 0.0, 0.0
INFO:utils:Match 191 done: Nott'm Forest vs Liverpool, 0.0, 0.19999999999999996
INFO:utils:Match 192 done: Fulham vs Brighton, 0.0, 0.0
INFO:utils:Match 193 done: Tottenham vs Sheffield United, 0.10000000000000009, 0.0
INFO:utils:Match 194 done: Newcastle vs Arsenal, 0.0, 0.0
INFO:utils:Match 195 done: Man United vs Brentford, 0.0, 0.0
INFO:utils:Match 196 done: Arsenal vs Chelsea, 0.0, 0.0
INFO:utils:Match 197 done: Chelsea vs Tottenham, 0.2, 0.19999999999999996
INFO:utils:Match 198 done: West Ham vs Newcastle, 0.1, 0.0
INFO:utils:Match 199 done: Aston Villa vs Liverpool, 0.0, 0.0
INFO:utils:Match 200 done: Brighton vs Norwich, 0.0, 0.0
INFO:utils:Match 201 done: Man City vs Southampton, 0.20000000000000007, 0.0
INFO:utils:Match 202 done: Sheffield United vs Burnley, 0.0, 0.0
INFO:utils:Match 203 done: Arsenal vs Wolves, 0.0, 0.0
INFO:utils:Match 204 done: Bournemouth vs Man United, 0.0, 0.0
INFO:utils:Match 205 done: Watford vs Chelsea, 0.0, 0.2
INFO:utils:Match 206 done: Leeds vs Leicester, 0.0, 0.0
INFO:utils:Match 207 done: Fulham vs West Brom, 0.0, 0.0
INFO:utils:Match 208 done: Wolves vs Newcastle, 0.0, 0.0
INFO:utils:Match 209 done: Chelsea vs Southampton, 0.0, 0.0
INFO:utils:Match 210 done: Burnley vs Norwich, 0.0, 0.0
INFO:utils:Match 211 done: Man United vs Everton, 0.19999999999999996, 0.0
INFO:utils:Match 212 done: Brighton vs Arsenal, 0.0, 0.10000000000000003
INFO:utils:Match 213 done: Leeds vs Watford, 0.0, 0.0
INFO:utils:Match 214 done: Man City vs Man United, 0.10000000000000009, 0.0
INFO:utils:Match 215 done: Leeds vs Aston Villa, 0.0, 0.0
INFO:utils:Match 216 done: Fulham vs Chelsea, 0.0, 0.0
INFO:utils:Match 217 done: Burnley vs Man United, 0.0, 0.0
INFO:utils:Match 218 done: Cardiff vs Arsenal, 0.0, 0.0
INFO:utils:Match 219 done: Watford vs Tottenham, 0.0, 0.0
INFO:utils:Match 220 done: Sheffield United vs Everton, 0.0, 0.0
INFO:utils:Match 221 done: Brentford vs Bournemouth, 0.0, 0.0
INFO:utils:Match 222 done: Brighton vs Newcastle, 0.0, 0.0
INFO:utils:Match 223 done: Man City vs Fulham, 0.09999999999999998, 0.0
INFO:utils:Match 224 done: Chelsea vs Nott'm Forest, 0.1, 0.0
INFO:utils:Match 225 done: Burnley vs Tottenham, 0.0, 0.09999999999999998
INFO:utils:Match 226 done: Tottenham vs Crystal Palace, 0.0, 0.0
INFO:utils:Match 227 done: Man City vs Cardiff, 0.0, 0.0
INFO:utils:Match 228 done: Chelsea vs Brighton, 0.0, 0.0
INFO:utils:Match 229 done: Leeds vs Sheffield United, 0.0, 0.0
INFO:utils:Match 230 done: Arsenal vs Liverpool, 0.1, 0.30000000000000004
INFO:utils:Match 231 done: Chelsea vs West Brom, 0.2, 0.0
INFO:utils:Match 232 done: Leicester vs Man City, 0.0, 0.20000000000000007
INFO:utils:Match 233 done: Tottenham vs Newcastle, 0.0, 0.0
INFO:utils:Match 234 done: West Ham vs Everton, 0.09999999999999998, 0.0
INFO:utils:Match 235 done: Everton vs Tottenham, 0.0, 0.0
INFO:utils:Match 236 done: Man City vs Aston Villa, 0.19999999999999996, 0.0
INFO:utils:Match 237 done: Brentford vs Brighton, 0.0, 0.0
INFO:utils:Match 238 done: Arsenal vs Luton, 0.0, 0.0
INFO:utils:Match 239 done: Man City vs West Ham, 0.0, 0.0
INFO:utils:Match 240 done: Bournemouth vs Southampton, 0.0, 0.0
INFO:utils:Match 241 done: Crystal Palace vs Bournemouth, 0.0, 0.0
INFO:utils:Match 242 done: Burnley vs Man City, 0.0, 0.20000000000000007
INFO:utils:Match 243 done: Man City vs Tottenham, 0.10000000000000009, 0.1
INFO:utils:Match 244 done: West Ham vs Crystal Palace, 0.19999999999999996, 0.0
INFO:utils:Match 245 done: Liverpool vs Fulham, 0.09999999999999998, 0.0
INFO:utils:Match 246 done: Chelsea vs Brighton, 0.0, 0.0
INFO:utils:Match 247 done: Bournemouth vs Aston Villa, 0.0, 0.0
INFO:utils:Match 248 done: Brighton vs West Ham, 0.0, 0.1
INFO:utils:Match 249 done: Arsenal vs Everton, 0.1, 0.0
INFO:utils:Match 250 done: Bournemouth vs Stoke, 0.0, 0.0
INFO:utils:Match 251 done: Burnley vs Man City, 0.0, 0.0
INFO:utils:Match 252 done: Leicester vs Swansea, 0.10000000000000003, 0.0
INFO:utils:Match 253 done: Man United vs Huddersfield, 0.10000000000000009, 0.0
INFO:utils:Match 254 done: West Brom vs Southampton, 0.0, 0.0
INFO:utils:Match 255 done: Man City vs Arsenal, 0.10000000000000003, 0.1
INFO:utils:Match 256 done: Leicester vs Man United, 0.09999999999999998, 0.0
INFO:utils:Match 257 done: Fulham vs Leicester, 0.0, 0.0
INFO:utils:Match 258 done: Burnley vs Man City, 0.0, 0.09999999999999998
INFO:utils:Match 259 done: Liverpool vs Brighton, 0.10000000000000009, 0.0
INFO:utils:Match 260 done: Aston Villa vs West Ham, 0.0, 0.4
INFO:utils:Match 261 done: Leeds vs Everton, 0.0, 0.0
INFO:utils:Match 262 done: Chelsea vs Fulham, 0.09999999999999998, 0.0
INFO:utils:Match 263 done: Burnley vs Fulham, 0.0, 0.0
INFO:utils:Match 264 done: Brighton vs Crystal Palace, 0.0, 0.0
INFO:utils:Match 265 done: Sheffield United vs Aston Villa, 0.0, 0.0
INFO:utils:Match 266 done: Everton vs Tottenham, 0.0, 0.19999999999999996
INFO:utils:Match 267 done: Newcastle vs Luton, 0.0, 0.0
INFO:utils:Match 268 done: Arsenal vs Chelsea, 0.1, 0.20000000000000007
INFO:utils:Match 269 done: Man City vs Liverpool, 0.1, 0.0
INFO:utils:Match 270 done: Chelsea vs Man City, 0.0, 0.0
INFO:utils:Match 271 done: Newcastle vs Leicester, 0.0, 0.0
INFO:utils:Match 272 done: Man United vs Wolves, 0.0, 0.0
INFO:utils:Match 273 done: Everton vs Brighton, 0.0, 0.0
INFO:utils:Match 274 done: Man United vs Bournemouth, 0.0, 0.0
INFO:utils:Match 275 done: Leicester vs Fulham, 0.0, 0.0
INFO:utils:Match 276 done: Arsenal vs Newcastle, 0.1, 0.0
INFO:utils:Match 277 done: Burnley vs Everton, 0.0, 0.0
INFO:utils:Match 278 done: Watford vs West Brom, 0.0, 0.0
INFO:utils:Match 279 done: Tottenham vs Huddersfield, 0.09999999999999998, 0.0
INFO:utils:Match 280 done: Swansea vs West Ham, 0.0, 0.0
INFO:utils:Match 281 done: Leicester vs Bournemouth, 0.1, 0.0
INFO:utils:Match 282 done: Liverpool vs Newcastle, 0.0, 0.0
INFO:utils:Match 283 done: Southampton vs Stoke, 0.0, 0.0
INFO:utils:Match 284 done: Everton vs Liverpool, 0.0, 0.20000000000000007
INFO:utils:Match 285 done: Fulham vs Chelsea, 0.0, 0.1
INFO:utils:Match 286 done: Watford vs Leicester, 0.0, 0.0
INFO:utils:Match 287 done: Burnley vs Leicester, 0.0, 0.0
INFO:utils:Match 288 done: Sheffield United vs Aston Villa, 0.0, 0.0
INFO:utils:Match 289 done: Crystal Palace vs Man United, 0.0, 0.0
INFO:utils:Match 290 done: Man City vs Man United, 0.0, 0.0
INFO:utils:Match 291 done: Burnley vs Bournemouth, 0.0, 0.0
INFO:utils:Match 292 done: Everton vs Burnley, 0.0, 0.0
INFO:utils:Match 293 done: West Brom vs Wolves, 0.0, 0.0
INFO:utils:Match 294 done: Burnley vs West Ham, 0.0, 0.0
INFO:utils:Match 295 done: Liverpool vs Fulham, 0.10000000000000009, 0.0
INFO:utils:Match 296 done: Man City vs West Ham, 0.39999999999999997, 0.2
INFO:utils:Match 297 done: Luton vs Everton, 0.0, 0.0
INFO:utils:Match 298 done: Everton vs Brighton, 0.0, 0.0
INFO:utils:Match 299 done: Cardiff vs Leicester, 0.0, 0.0
INFO:utils:Match 300 done: West Ham vs Burnley, 0.19999999999999996, 0.0
INFO:utils:Match 301 done: Arsenal vs Liverpool, 0.19999999999999996, 0.2
INFO:utils:Match 302 done: Newcastle vs Watford, 0.0, 0.0
INFO:utils:Match 303 done: Wolves vs Tottenham, 0.0, 0.0
INFO:utils:Match 304 done: Bournemouth vs Man United, 0.0, 0.0
INFO:utils:Match 305 done: Everton vs Tottenham, 0.0, 0.09999999999999998
INFO:utils:Match 306 done: Crystal Palace vs Leicester, 0.0, 0.0
INFO:utils:Match 307 done: Leeds vs Man City, 0.0, 0.0
INFO:utils:Match 308 done: Chelsea vs Crystal Palace, 0.09999999999999998, 0.0
INFO:utils:Match 309 done: Newcastle vs Burnley, 0.0, 0.0
INFO:utils:Match 310 done: Everton vs Brighton, 0.0, 0.0
INFO:utils:Match 311 done: Liverpool vs Man City, 0.0, 0.1
INFO:utils:Match 312 done: West Ham vs Brentford, 0.1, 0.0
INFO:utils:Match 313 done: Tottenham vs Aston Villa, 0.1, 0.0
INFO:utils:Match 314 done: Crystal Palace vs Leicester, 0.0, 0.0
INFO:utils:Match 315 done: Leicester vs Nott'm Forest, 0.0, 0.0
INFO:utils:Match 316 done: Luton vs Burnley, 0.0, 0.0
INFO:utils:Match 317 done: Chelsea vs West Ham, 0.09999999999999998, 0.5

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AwayPlayerRatingStd,TeamEloWinProb,PlayerEloDrawProb,PlayerEloWinProb,HomeEloMomentum,AwayEloMomentum,HomeRankMomentum,AwayRankMomentum,HI,AI
0,E0,01-Apr-18,Chelsea,Tottenham,1,3,A,1,1,D,...,0.314261,0.400560,0.330000,0.330000,62.887573,-12.539673,-2.0,1.0,0.3,0.4
1,E0,01-Apr-18,Arsenal,Stoke,3,0,H,0,0,D,...,0.209960,0.757401,0.330000,0.330000,20.978882,7.470215,0.0,-2.0,0.0,0.0
2,E0,01-Apr-19,Arsenal,Newcastle,2,0,H,1,0,H,...,0.269946,0.762502,0.264235,0.583491,-44.682373,-34.069458,0.0,0.0,0.0,0.1
3,E0,01-Apr-23,Chelsea,Aston Villa,0,2,A,0,1,A,...,0.211743,0.633912,0.283756,0.345526,-3.108887,-16.866943,0.0,2.0,0.0,0.0
4,E0,01-Apr-23,Brighton,Brentford,3,3,D,2,2,D,...,0.298958,0.551750,0.245072,0.555928,-5.924194,-3.851929,0.0,0.0,0.0,0.0
5,E0,01-Apr-23,Bournemouth,Fulham,2,1,H,0,1,A,...,0.240494,0.393335,0.270790,0.261176,-18.405518,-6.597900,0.0,0.0,0.0,0.0
6,E0,01-Apr-23,Man City,Liverpool,4,1,H,1,1,D,...,0.213771,0.650146,0.240820,0.567682,-24.692749,4.621582,0.0,-1.0,0.1,0.3
7,E0,01-Apr-23,Nott'm Forest,Wolves,1,1,D,1,0,H,...,0.244913,0.411343,0.273614,0.454819,7.678345,0.856201,-2.0,-1.0,0.0,0.1
8,E0,01-Apr-23,Arsenal,Leeds,4,1,H,1,0,H,...,0.185380,0.786238,0.122933,0.808423,-19.110352,-16.219360,1.0,1.0,0.0,0.0
9,E0,01-Apr-23,Crystal Palace,Leicester,2,1,H,0,0,D,...,0.302172,0.471743,0.267066,0.483685,6.169067,24.473877,0.0,-2.0,0.0,0.0
10,E0,01-Dec-18,Southampton,Man United,2,2,D,2,2,D,...,0.300426,0.203054,0.325996,0.274136,12.651245,-12.750977,0.0,0.0,0.0,0.0
11,E0,01-Dec-18,Man City,Bournemouth,3,1,H,1,1,D,...,0.349750,0.860416,0.141885,0.798355,-33.580688,9.629395,0.0,-1.0,0.1,0.0
12,E0,01-Dec-18,Leicester,Watford,2,0,H,2,0,H,...,0.256944,0.561182,0.285444,0.535224,2.912842,-9.901611,-1.0,0.0,0.0,0.0
13,E0,01-Dec-18,Newcastle,West Ham,0,3,A,0,1,A,...,0.188625,0.478949,0.323501,0.413302,-18.609863,-1.830933,4.0,0.0,0.0,0.0
14,E0,01-Dec-18,Huddersfield,Brighton,1,2,A,1,1,D,...,0.358093,0.400924,0.316928,0.241148,-23.247803,-3.216553,2.0,3.0,0.0,0.0
15,E0,01-Dec-18,Crystal Palace,Burnley,2,0,H,1,0,H,...,0.252151,0.535547,0.257234,0.598162,3.029785,29.872070,-1.0,-3.0,0.0,0.0
16,E0,01-Dec-19,Man United,Aston Villa,2,2,D,1,1,D,...,0.283851,0.744770,0.199469,0.671410,-3.170654,-8.134277,-1.0,3.0,0.0,0.0
17,E0,01-Dec-19,Norwich,Arsenal,2,2,D,2,1,H,...,0.168531,0.200708,0.226551,0.160689,27.512573,37.338501,-1.0,-2.0,0.0,0.0
18,E0,01-Dec-19,Leicester,Everton,2,1,H,0,1,A,...,0.241823,0.667095,0.191119,0.688180,-59.657227,12.357178,1.0,0.0,0.0,0.1
19,E0,01-Dec-19,Wolves,Sheffield United,1,1,D,0,1,A,...,0.261251,0.615108,0.246972,0.562050,-45.320801,-42.398804,3.0,3.0,0.0,0.0