# Match Importance

Public literature believes that the importance of a match has a significant impact on participating team's performance.

For example, if the probability of a team, A, winning the Premier League is significantly increased by winning the game, whereas the match has little effect on any outcome for team B, then team A is likely to outperform.

In this notebook, we demonstrate the functions provided for calculating match importance.

## Imports and Debugging

In [1]:
import importlib
import logging
import numpy as np
import os
import pandas as pd
import sys

sys.path.append(os.path.abspath(os.path.join('..', 'src')))

import utils
import importance
import elo

importlib.reload(utils)
importlib.reload(importance)
importlib.reload(elo)

[12/16/24 15:41:22] INFO     No custom team name replacements found. You can configure these in       ]8;id=42378;file:///opt/anaconda3/lib/python3.12/site-packages/soccerdata/_config.py\_config.py]8;;\:]8;id=829877;file:///opt/anaconda3/lib/python3.12/site-packages/soccerdata/_config.py#90\90]8;;\
                             /Users/mattgc/soccerdata/config/teamname_replacements.json.

                    INFO     No custom league dict found. You can configure additional leagues in    ]8;id=963234;file:///opt/anaconda3/lib/python3.12/site-packages/soccerdata/_config.py\_config.py]8;;\:]8;id=75440;file:///opt/anaconda3/lib/python3.12/site-packages/soccerdata/_config.py#196\196]8;;\
                             /Users/mattgc/soccerdata/config/league_dict.json.

**Recommended**: Leave the level at INFO, unless an error is occuring

In [2]:
inp = input("Level of logging (DEBUG, INFO, WARNING, ERROR, CRITICAL): ")
logging.basicConfig(level=getattr(logging, inp), force=True)

In [3]:
# Global variables
SEASON_17_18 = os.path.abspath(os.path.join('..', 'data', 'seasons', '17_18.csv'))
LATEST_SEASON = os.path.abspath(os.path.join('..', 'data', 'seasons', '24_25.csv'))
REMAINING_SEASON = os.path.abspath(os.path.join('..', 'data', 'seasons', '24_25_remaining.csv'))
TEST_MATCHES = os.path.abspath(os.path.join('..', 'data', 'epl-test.csv'))
ELO = os.path.abspath(os.path.join('..', 'data', 'match_elo.csv'))

# Predict test matches

In this section, this code predicts matches in February 2025 (as of December 2024) by repeatedly simulating the remaining matches of the season and estimating the probability that partaking teams achieve outcomes given they win/lose the matches of interest.

Outcomes examined are:

- Qualifying for the UEFA Champions League
- Winning the season
- Relegating from the season

## Import data

In [4]:
matches = pd.read_csv(LATEST_SEASON)
matches["Date"] = pd.to_datetime(matches["Date"], dayfirst=True).dt.date
matches = matches.sort_values(by=["Date", "Time"]).reset_index(drop=True)
t = len(matches)
matches

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,2024-08-16,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,2024-08-17,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,2024-08-17,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,2024-08-17,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,2024-08-17,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,E0,2024-12-14,17:30,Nott'm Forest,Aston Villa,2,1,H,0,0,...,1.94,1.99,1.93,1.99,2.00,2.00,1.93,1.95,1.95,2.04
154,E0,2024-12-15,14:00,Brighton,Crystal Palace,1,3,A,0,2,...,1.97,1.96,1.93,2.00,1.97,2.01,1.90,1.96,1.96,2.03
155,E0,2024-12-15,16:30,Man City,Man United,1,2,A,1,0,...,2.05,1.75,2.11,1.81,2.34,1.86,2.11,1.77,2.11,1.88
156,E0,2024-12-15,19:00,Chelsea,Brentford,2,1,H,1,0,...,1.91,2.02,1.88,2.04,1.99,2.04,1.93,1.94,2.01,1.98
157,E0,2024-12-15,19:00,Southampton,Tottenham,0,5,A,0,5,...,1.95,1.98,1.94,1.98,2.04,2.02,1.92,1.94,1.99,1.99

In [5]:
remaining = pd.read_csv(REMAINING_SEASON).drop(columns=["Attendance"])
remaining["Date"] = pd.to_datetime(remaining["Date"]).dt.date
matches = pd.concat([matches, remaining], ignore_index=True)
matches

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,2024-08-16,20:00,Man United,Fulham,1.0,0.0,H,0.0,0.0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,2024-08-17,12:30,Ipswich,Liverpool,0.0,2.0,A,0.0,0.0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,2024-08-17,15:00,Arsenal,Wolves,2.0,0.0,H,1.0,0.0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,2024-08-17,15:00,Everton,Brighton,0.0,3.0,A,0.0,1.0,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,2024-08-17,15:00,Newcastle,Southampton,1.0,0.0,H,1.0,0.0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,NaN,2025-05-25,NaN,Newcastle,Everton,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,NaN,2025-05-25,NaN,Nott'm Forest,Chelsea,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,NaN,2025-05-25,NaN,Southampton,Arsenal,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
378,NaN,2025-05-25,NaN,Tottenham,Brighton,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,NaN,2025-05-25,NaN,Wolves,Brentford,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
to_predict = pd.read_csv(TEST_MATCHES)
to_predict

        Date       HomeTeam        AwayTeam
0  01-Feb-25    Bournemouth       Liverpool
1  01-Feb-25        Arsenal        Man City
2  01-Feb-25      Brentford       Tottenham
3  01-Feb-25        Chelsea        West Ham
4  01-Feb-25        Everton       Leicester
5  01-Feb-25        Ipswich     Southampton
6  01-Feb-25     Man United  Crystal Palace
7  01-Feb-25      Newcastle          Fulham
8  01-Feb-25  Nott'm Forest        Brighton
9  01-Feb-25         Wolves     Aston Villa

## Pre-processing

To predict the outcomes of matches, the probabilities of Home Win v Draw v Away Win are skewed according to a "TeamEloWinProb" feature (credit to Michal). In this section, we will calculate this feature for 2024/25 season. 

For matches that haven't been played, we will carry the most recent value forward.

In [7]:
elos = elo.get(matches)
elos["Date"] = pd.to_datetime(elos["Date"]).dt.date
elos["HomeTeam"] = elos["HomeTeam"].replace("Forest", "Nott'm Forest")
elos["AwayTeam"] = elos["AwayTeam"].replace("Forest", "Nott'm Forest")
matches = matches.merge(
    elos,
    on=["Date", "HomeTeam", "AwayTeam"]
)
matches

INFO:root:Saving cached data to /Users/mattgc/soccerdata/data/ClubElo
100%|██████████| 380/380 [00:00<00:00, 545.94it/s]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA,HomeElo,AwayElo,TeamEloWinProb
0,E0,2024-08-16,20:00,Man United,Fulham,1.0,0.0,H,0.0,0.0,...,2.11,1.88,2.11,1.82,2.05,1.90,2.08,1779.043945,1716.276367,0.589360
1,E0,2024-08-17,12:30,Ipswich,Liverpool,0.0,2.0,A,0.0,0.0,...,1.90,2.20,2.00,1.99,1.88,2.04,1.93,1568.325562,1900.688354,0.128618
2,E0,2024-08-17,15:00,Arsenal,Wolves,2.0,0.0,H,1.0,0.0,...,1.90,2.05,1.93,1.99,1.87,2.02,1.96,1946.902832,1677.862305,0.824729
3,E0,2024-08-17,15:00,Everton,Brighton,0.0,3.0,A,0.0,1.0,...,2.07,1.92,2.10,1.83,2.04,1.88,2.11,1706.850830,1713.163208,0.490917
4,E0,2024-08-17,15:00,Newcastle,Southampton,1.0,0.0,H,1.0,0.0,...,2.06,1.89,2.10,1.82,2.05,1.89,2.10,1801.797119,1599.603394,0.762044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,NaN,2025-05-25,NaN,Newcastle,Everton,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1803.491943,1704.383423,0.638882
376,NaN,2025-05-25,NaN,Nott'm Forest,Chelsea,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1722.681763,1896.247314,0.269114
377,NaN,2025-05-25,NaN,Southampton,Arsenal,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1579.600464,1983.363647,0.089135
378,NaN,2025-05-25,NaN,Tottenham,Brighton,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1812.923828,1765.461060,0.567883
379,NaN,2025-05-25,NaN,Wolves,Brentford,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1664.031616,1749.327759,0.379657

## Run a single simulation

In [8]:
standings = utils.calculate_standings(matches, 0, t)
standings

              Team  Points
0        Liverpool      37
1          Chelsea      34
2          Arsenal      30
3    Nott'm Forest      28
4         Man City      27
5      Aston Villa      25
6      Bournemouth      24
7           Fulham      24
8         Brighton      24
9        Brentford      23
10       Tottenham      23
11       Newcastle      23
12      Man United      22
13        West Ham      18
14         Everton      16
15  Crystal Palace      16
16       Leicester      14
17         Ipswich      12
18          Wolves       9
19     Southampton       5

In [9]:
simulation = (
    utils.generate_simulations(matches, nruns=1, current=t)[0]
)
simulation

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA,HomeElo,AwayElo,TeamEloWinProb
0,E0,2024-08-16,20:00,Man United,Fulham,1.0,0.0,H,0.0,0.0,...,2.11,1.88,2.11,1.82,2.05,1.90,2.08,1779.043945,1716.276367,0.589360
1,E0,2024-08-17,12:30,Ipswich,Liverpool,0.0,2.0,A,0.0,0.0,...,1.90,2.20,2.00,1.99,1.88,2.04,1.93,1568.325562,1900.688354,0.128618
2,E0,2024-08-17,15:00,Arsenal,Wolves,2.0,0.0,H,1.0,0.0,...,1.90,2.05,1.93,1.99,1.87,2.02,1.96,1946.902832,1677.862305,0.824729
3,E0,2024-08-17,15:00,Everton,Brighton,0.0,3.0,A,0.0,1.0,...,2.07,1.92,2.10,1.83,2.04,1.88,2.11,1706.850830,1713.163208,0.490917
4,E0,2024-08-17,15:00,Newcastle,Southampton,1.0,0.0,H,1.0,0.0,...,2.06,1.89,2.10,1.82,2.05,1.89,2.10,1801.797119,1599.603394,0.762044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,NaN,2025-05-25,NaN,Newcastle,Everton,NaN,NaN,H,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1803.491943,1704.383423,0.638882
376,NaN,2025-05-25,NaN,Nott'm Forest,Chelsea,NaN,NaN,A,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1722.681763,1896.247314,0.269114
377,NaN,2025-05-25,NaN,Southampton,Arsenal,NaN,NaN,H,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1579.600464,1983.363647,0.089135
378,NaN,2025-05-25,NaN,Tottenham,Brighton,NaN,NaN,D,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1812.923828,1765.461060,0.567883
379,NaN,2025-05-25,NaN,Wolves,Brentford,NaN,NaN,A,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1664.031616,1749.327759,0.379657

In [10]:
simulated_standings = utils.calculate_standings(simulation)
simulated_standings

              Team  Points
0          Chelsea      74
1         Man City      70
2        Liverpool      66
3          Arsenal      64
4         West Ham      59
5           Fulham      53
6        Tottenham      53
7      Bournemouth      53
8    Nott'm Forest      52
9        Newcastle      52
10     Aston Villa      51
11       Brentford      49
12        Brighton      49
13      Man United      47
14         Everton      41
15  Crystal Palace      41
16       Leicester      39
17         Ipswich      36
18          Wolves      34
19     Southampton      31

`utils.calculate_outcomes` generates a tuple describing whether or not the home/away team 

1. win the tournament

2. relegate from the tournament

3. qualify for the champions league

given the home/away team wins the match. 

That gives 2 (home/away team) * 3 (outcomes) * 2 (home/away win) = 12 indicator variables. The tuple is organised as 

(\<home outcomes given home win\>, \<away outcomes given home win\>, \<home outcomes given away win\>, \<away outcomes given away win\>)

In [11]:
utils.calculate_outcomes(simulated_standings, "Bournemouth", "Liverpool")

(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1)

## Predict match importance for matches of interest

In [12]:
targets = list(
    matches.reset_index().merge(to_predict, on=["HomeTeam", "AwayTeam"])["index"]
)
targets

[230, 231, 232, 233, 234, 235, 236, 237, 238, 239]

In [13]:
match_importance = importance.predict(
    matches,
    start=0,
    end=len(matches)-1,
    current=t-1,
    targets=targets,
    nruns=1000
)
match_importance.loc[targets]

Match 230 done: Arsenal vs Man City, 0.125, 0.173
Match 231 done: Bournemouth vs Liverpool, 0.075, 0.1479999999999999
Match 232 done: Brentford vs Tottenham, 0.038, 0.059000000000000004
Match 233 done: Chelsea vs West Ham, 0.08300000000000007, 0.013
Match 234 done: Everton vs Leicester, 0.003, 0.0
Match 235 done: Ipswich vs Southampton, 0.0, 0.0
Match 236 done: Man United vs Crystal Palace, 0.026999999999999996, 0.001
Match 237 done: Newcastle vs Fulham, 0.054000000000000006, 0.049
Match 238 done: Nott'm Forest vs Brighton, 0.076, 0.061000000000000006
Match 239 done: Wolves vs Aston Villa, 0.0, 0.09599999999999999

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA,HomeElo,AwayElo,TeamEloWinProb,HI,AI
230,NaN,2025-02-01,NaN,Arsenal,Man City,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1983.363647,1966.654907,0.524027,0.125,0.173
231,NaN,2025-02-01,NaN,Bournemouth,Liverpool,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1757.698608,1998.375122,0.200136,0.075,0.148
232,NaN,2025-02-01,NaN,Brentford,Tottenham,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1749.327759,1812.923828,0.409487,0.038,0.059
233,NaN,2025-02-01,NaN,Chelsea,West Ham,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1896.247314,1732.552490,0.719565,0.083,0.013
234,NaN,2025-02-01,NaN,Everton,Leicester,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1704.383423,1655.346558,0.570105,0.003,0.000
235,NaN,2025-02-01,NaN,Ipswich,Southampton,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1583.811401,1579.600464,0.506060,0.000,0.000
236,NaN,2025-02-01,NaN,Man United,Crystal Palace,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1785.758789,1745.683105,0.557419,0.027,0.001
237,NaN,2025-02-01,NaN,Newcastle,Fulham,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1803.491943,1759.959473,0.562322,0.054,0.049
238,NaN,2025-02-01,NaN,Nott'm Forest,Brighton,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1722.681763,1765.461060,0.438745,0.076,0.061
239,NaN,2025-02-01,NaN,Wolves,Aston Villa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1664.031616,1811.931274,0.299144,0.000,0.096

In [14]:
match_importance.loc[targets, ["Date", "Time", "HomeTeam", "AwayTeam", "HI", "AI", "HomeElo", "AwayElo"]].to_csv("../output/epl-test-importance.csv", index=False)

# Backfill season match importance in master file

When backfilling the match importance, this code estimates the importance of match $i$ by assuming the outcomes of all matches that come before it are known. It simulates the matches after $i$ to estimate that match importance of $i$ as if the matches after were not known.

This section demonstrates how to backfill the match importance for 2017/18.

In [15]:
match_elos = pd.read_csv(ELO)[["Date", "HomeTeam", "AwayTeam", "TeamEloWinProb"]]
match_elos["Date"] = pd.to_datetime(match_elos["Date"], format="%Y-%m-%d")
match_elos

           Date          HomeTeam     AwayTeam  TeamEloWinProb
0    2010-01-05             Stoke       Fulham        0.335889
1    2010-01-09           Arsenal      Everton        0.730693
2    2010-01-09        Birmingham   Man United        0.170839
3    2010-01-11          Man City    Blackburn        0.644634
4    2010-01-16           Chelsea   Sunderland        0.875865
...         ...               ...          ...             ...
5799 2024-05-19    Crystal Palace  Aston Villa        0.435603
5800 2024-05-19         Liverpool       Wolves        0.777918
5801 2024-05-19             Luton       Fulham        0.320134
5802 2024-05-19          Man City     West Ham        0.860403
5803 2024-05-19  Sheffield United    Tottenham        0.179439

[5804 rows x 4 columns]

In [16]:
matches = pd.read_csv(SEASON_17_18)
matches["Date"] = pd.to_datetime(matches["Date"], format="%d/%m/%Y")
matches = matches.merge(
    match_elos,
    on=["Date", "HomeTeam", "AwayTeam"],
    how="left"
)
matches[["HI", "AI"]] = np.nan
matches

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA,TeamEloWinProb,HI,AI
0,E0,2017-08-11,Arsenal,Leicester,4,3,H,2,2,D,...,1.91,1.85,2.10,2.02,1.49,4.73,7.25,0.680436,NaN,NaN
1,E0,2017-08-12,Brighton,Man City,0,2,A,0,0,D,...,1.95,1.91,2.01,1.96,11.75,6.15,1.29,0.163951,NaN,NaN
2,E0,2017-08-12,Chelsea,Burnley,2,3,A,0,3,A,...,2.03,1.97,1.95,1.90,1.33,5.40,12.25,0.833734,NaN,NaN
3,E0,2017-08-12,Crystal Palace,Huddersfield,0,3,A,0,2,A,...,2.10,2.05,1.86,1.83,1.79,3.56,5.51,0.723831,NaN,NaN
4,E0,2017-08-12,Everton,Stoke,1,0,H,1,0,H,...,1.94,1.90,2.01,1.98,1.82,3.49,5.42,0.623467,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,2018-05-13,Newcastle,Chelsea,3,0,H,1,0,H,...,1.90,1.83,2.11,2.03,4.85,3.72,1.80,0.224904,NaN,NaN
376,E0,2018-05-13,Southampton,Man City,0,1,A,0,0,D,...,2.01,1.95,1.97,1.91,6.32,4.78,1.51,0.139422,NaN,NaN
377,E0,2018-05-13,Swansea,Stoke,1,2,A,1,2,A,...,1.94,1.88,2.03,1.98,2.08,3.56,3.82,0.528203,NaN,NaN
378,E0,2018-05-13,Tottenham,Leicester,5,4,H,1,2,A,...,1.96,1.86,2.05,2.00,1.38,5.50,8.15,0.770980,NaN,NaN
379,E0,2018-05-13,West Ham,Everton,3,1,H,1,0,H,...,2.09,2.03,1.88,1.84,2.35,3.40,3.28,0.432656,NaN,NaN

In [17]:
match_importance = importance.backfill(
    data=matches,
    nruns=25
)
match_importance

Calculating match importance for the season, 0 to 379
Match 0 done: Arsenal vs Leicester, 0.12, 0.04
Match 1 done: Brighton vs Man City, 0.04, 0.16000000000000003
Match 2 done: Chelsea vs Burnley, 0.12, 0.04
Match 3 done: Crystal Palace vs Huddersfield, 0.0, 0.04
Match 4 done: Everton vs Stoke, 0.039999999999999994, 0.04
Match 5 done: Southampton vs Swansea, 0.12, 0.08
Match 6 done: Watford vs Liverpool, 0.0, 0.08000000000000002
Match 7 done: West Brom vs Bournemouth, 0.04, 0.0
Match 8 done: Man United vs West Ham, 0.040000000000000036, 0.04000000000000001
Match 9 done: Newcastle vs Tottenham, 0.0, 0.24
Match 10 done: Bournemouth vs Watford, 0.0, 0.0
Match 11 done: Burnley vs West Brom, 0.04, 0.08
Match 12 done: Leicester vs Brighton, 0.04, 0.0
Match 13 done: Liverpool vs Crystal Palace, 0.040000000000000036, 0.0
Match 14 done: Southampton vs West Ham, 0.04, 0.08
Match 15 done: Stoke vs Arsenal, 0.0, 0.2
Match 16 done: Swansea vs Man United, 0.04, 0.08000000000000002
Match 17 done: Huddersfield vs Newcastle, 0.04, 0.0
Match 18 done: Tottenham vs Chelsea, 0.12, 0.07999999999999996
Match 19 done: Man City vs Everton, 0.12, 0.0
Match 20 done: Bournemouth vs Man City, 0.0, 0.16000000000000003
Match 21 done: Crystal Palace vs Swansea, 0.0, 0.0
Match 22 done: Huddersfield vs Southampton, 0.08, 0.07999999999999999
Match 23 done: Man United vs Leicester, 0.08000000000000002, 0.0
Match 24 done: Newcastle vs West Ham, 0.0, 0.04
Match 25 done: Watford vs Brighton, 0.0, 0.0
Match 26 done: Chelsea vs Everton, 0.12, 0.04
Match 27 done: Liverpool vs Arsenal, 0.12, 0.12
Match 28 done: Tottenham vs Burnley, 0.12, 0.04
Match 29 done: West Brom vs Stoke, 0.0, 0.0
Match 30 done: Arsenal vs Bournemouth, 0.08000000000000002, 0.0
Match 31 done: Brighton vs West Brom, 0.0, 0.0
Match 32 done: Everton vs Tottenham, 0.039999999999999994, 0.19999999999999996
Match 33 done: Leicester vs Chelsea, 0.0, 0.04000000000000001
Match 34 done: Man City vs Liverpool, 0.12, 0.08000000000000002
Match 35 done: Southampton vs Watford, 0.04, 0.0
Match 36 done: Stoke vs Man United, 0.0, 0.19999999999999996
Match 37 done: Burnley vs Crystal Palace, 0.04, 0.0
Match 38 done: Swansea vs Newcastle, 0.0, 0.0
Match 39 done: West Ham vs Huddersfield, 0.0, 0.0
Match 40 done: Bournemouth vs Brighton, 0.0, 0.0
Match 41 done: Crystal Palace vs Southampton, 0.0, 0.04
Match 42 done: Huddersfield vs Leicester, 0.0, 0.0
Match 43 done: Liverpool vs Burnley, 0.12, 0.04
Match 44 done: Newcastle vs Stoke, 0.0, 0.0
Match 45 done: Tottenham vs Swansea, 0.08000000000000007, 0.04
Match 46 done: Watford vs Man City, 0.04, 0.12
Match 47 done: West Brom vs West Ham, 0.04, 0.0
Match 48 done: Chelsea vs Arsenal, 0.12, 0.08000000000000002
Match 49 done: Man United vs Everton, 0.16000000000000003, 0.039999999999999994
Match 50 done: Burnley vs Huddersfield, 0.04, 0.08
Match 51 done: Everton vs Bournemouth, 0.0, 0.0
Match 52 done: Leicester vs Liverpool, 0.0, 0.16000000000000003
Match 53 done: Man City vs Crystal Palace, 0.24, 0.0
Match 54 done: Southampton vs Man United, 0.04, 0.08
Match 55 done: Stoke vs Chelsea, 0.04, 0.12
Match 56 done: Swansea vs Watford, 0.0, 0.04
Match 57 done: West Ham vs Tottenham, 0.0, 0.24
Match 58 done: Brighton vs Newcastle, 0.0, 0.04
Match 59 done: Arsenal vs West Brom, 0.08000000000000002, 0.04
Match 60 done: Bournemouth vs Leicester, 0.0, 0.0
Match 61 done: Chelsea vs Man City, 0.19999999999999998, 0.28
Match 62 done: Huddersfield vs Tottenham, 0.0, 0.16000000000000003
Match 63 done: Man United vs Crystal Palace, 0.07999999999999996, 0.0
Match 64 done: Stoke vs Southampton, 0.0, 0.0
Match 65 done: West Brom vs Watford, 0.0, 0.04
Match 66 done: West Ham vs Swansea, 0.04, 0.0
Match 67 done: Arsenal vs Brighton, 0.04, 0.0
Match 68 done: Everton vs Burnley, 0.04, 0.0
Match 69 done: Newcastle vs Liverpool, 0.0, 0.2
Match 70 done: Burnley vs West Ham, 0.0, 0.04
Match 71 done: Crystal Palace vs Chelsea, 0.0, 0.07999999999999996
Match 72 done: Liverpool vs Man United, 0.12, 0.12000000000000002
Match 73 done: Man City vs Stoke, 0.12, 0.04
Match 74 done: Swansea vs Huddersfield, 0.0, 0.0
Match 75 done: Tottenham vs Bournemouth, 0.040000000000000036, 0.0
Match 76 done: Watford vs Arsenal, 0.04, 0.12
Match 77 done: Brighton vs Everton, 0.0, 0.0
Match 78 done: Southampton vs Newcastle, 0.0, 0.0
Match 79 done: Leicester vs West Brom, 0.0, 0.0
Match 80 done: West Ham vs Brighton, 0.0, 0.0
Match 81 done: Chelsea vs Watford, 0.12, 0.08
Match 82 done: Huddersfield vs Man United, 0.0, 0.08000000000000002
Match 83 done: Man City vs Burnley, 0.07999999999999996, 0.0
Match 84 done: Newcastle vs Crystal Palace, 0.0, 0.0
Match 85 done: Southampton vs West Brom, 0.0, 0.0
Match 86 done: Stoke vs Bournemouth, 0.0, 0.0
Match 87 done: Swansea vs Leicester, 0.0, 0.0
Match 88 done: Everton vs Arsenal, 0.0, 0.0
Match 89 done: Tottenham vs Liverpool, 0.04, 0.16000000000000003
Match 90 done: Arsenal vs Swansea, 0.07999999999999996, 0.0
Match 91 done: Bournemouth vs Chelsea, 0.0, 0.12
Match 92 done: Crystal Palace vs West Ham, 0.0, 0.0
Match 93 done: Liverpool vs Huddersfield, 0.08000000000000002, 0.04
Match 94 done: Man United vs Tottenham, 0.04, 0.12
Match 95 done: Watford vs Stoke, 0.04, 0.0
Match 96 done: West Brom vs Man City, 0.0, 0.08000000000000007
Match 97 done: Brighton vs Southampton, 0.0, 0.0
Match 98 done: Leicester vs Everton, 0.04, 0.0
Match 99 done: Burnley vs Newcastle, 0.0, 0.0
Match 100 done: Huddersfield vs West Brom, 0.04, 0.0
Match 101 done: Newcastle vs Bournemouth, 0.0, 0.0
Match 102 done: Southampton vs Burnley, 0.0, 0.04
Match 103 done: Stoke vs Leicester, 0.0, 0.0
Match 104 done: Swansea vs Brighton, 0.0, 0.0
Match 105 done: West Ham vs Liverpool, 0.0, 0.04
Match 106 done: Chelsea vs Man United, 0.0, 0.040000000000000036
Match 107 done: Everton vs Watford, 0.0, 0.0
Match 108 done: Man City vs Arsenal, 0.08000000000000007, 0.15999999999999998
Match 109 done: Tottenham vs Crystal Palace, 0.07999999999999996, 0.0
Match 110 done: Arsenal vs Tottenham, 0.15999999999999998, 0.12000000000000001
Match 111 done: Bournemouth vs Huddersfield, 0.0, 0.0
Match 112 done: Burnley vs Swansea, 0.0, 0.0
Match 113 done: Crystal Palace vs Everton, 0.0, 0.0
Match 114 done: Leicester vs Man City, 0.04, 0.07999999999999996
Match 115 done: Liverpool vs Southampton, 0.03999999999999998, 0.0
Match 116 done: Man United vs Newcastle, 0.0, 0.0
Match 117 done: West Brom vs Chelsea, 0.0, 0.07999999999999996
Match 118 done: Watford vs West Ham, 0.0, 0.0
Match 119 done: Brighton vs Stoke, 0.0, 0.0
Match 120 done: West Ham vs Leicester, 0.0, 0.04
Match 121 done: Crystal Palace vs Stoke, 0.0, 0.0
Match 122 done: Liverpool vs Chelsea, 0.12, 0.15999999999999992
Match 123 done: Man United vs Brighton, 0.0, 0.0
Match 124 done: Newcastle vs Watford, 0.0, 0.0
Match 125 done: Swansea vs Bournemouth, 0.0, 0.0
Match 126 done: Tottenham vs West Brom, 0.19999999999999996, 0.0
Match 127 done: Burnley vs Arsenal, 0.0, 0.07999999999999996
Match 128 done: Huddersfield vs Man City, 0.0, 0.20000000000000007
Match 129 done: Southampton vs Everton, 0.0, 0.04
Match 130 done: Brighton vs Crystal Palace, 0.0, 0.0
Match 131 done: Leicester vs Tottenham, 0.0, 0.2
Match 132 done: Watford vs Man United, 0.0, 0.040000000000000036
Match 133 done: West Brom vs Newcastle, 0.0, 0.0
Match 134 done: Arsenal vs Huddersfield, 0.03999999999999998, 0.0
Match 135 done: Bournemouth vs Burnley, 0.0, 0.0
Match 136 done: Chelsea vs Swansea, 0.040000000000000036, 0.0
Match 137 done: Everton vs West Ham, 0.0, 0.0
Match 138 done: Man City vs Southampton, 0.040000000000000036, 0.0
Match 139 done: Stoke vs Liverpool, 0.0, 0.16000000000000003
Match 140 done: Arsenal vs Man United, 0.20000000000000007, 0.07999999999999996
Match 141 done: Brighton vs Liverpool, 0.0, 0.16000000000000003
Match 142 done: Chelsea vs Newcastle, 0.040000000000000036, 0.0
Match 143 done: Everton vs Huddersfield, 0.04, 0.0
Match 144 done: Leicester vs Burnley, 0.0, 0.04
Match 145 done: Stoke vs Swansea, 0.0, 0.0
Match 146 done: Watford vs Tottenham, 0.0, 0.12
Match 147 done: West Brom vs Crystal Palace, 0.0, 0.0
Match 148 done: Bournemouth vs Southampton, 0.0, 0.0
Match 149 done: Man City vs West Ham, 0.0, 0.0
Match 150 done: Burnley vs Watford, 0.04, 0.0
Match 151 done: Crystal Palace vs Bournemouth, 0.0, 0.0
Match 152 done: Huddersfield vs Brighton, 0.0, 0.0
Match 153 done: Newcastle vs Leicester, 0.0, 0.0
Match 154 done: Swansea vs West Brom, 0.0, 0.0
Match 155 done: Tottenham vs Stoke, 0.0, 0.0
Match 156 done: West Ham vs Chelsea, 0.0, 0.07999999999999996
Match 157 done: Liverpool vs Everton, 0.12, 0.0
Match 158 done: Man United vs Man City, 0.12, 0.07999999999999996
Match 159 done: Southampton vs Arsenal, 0.0, 0.08000000000000002
Match 160 done: Burnley vs Stoke, 0.04, 0.0
Match 161 done: Crystal Palace vs Watford, 0.0, 0.0
Match 162 done: Huddersfield vs Chelsea, 0.0, 0.040000000000000036
Match 163 done: Liverpool vs West Brom, 0.07999999999999996, 0.0
Match 164 done: Man United vs Bournemouth, 0.08000000000000007, 0.0
Match 165 done: Newcastle vs Everton, 0.0, 0.0
Match 166 done: Southampton vs Leicester, 0.0, 0.0
Match 167 done: Swansea vs Man City, 0.0, 0.07999999999999996
Match 168 done: Tottenham vs Brighton, 0.16000000000000003, 0.0
Match 169 done: West Ham vs Arsenal, 0.0, 0.12
Match 170 done: Arsenal vs Newcastle, 0.08000000000000002, 0.0
Match 171 done: Brighton vs Burnley, 0.0, 0.04
Match 172 done: Chelsea vs Southampton, 0.07999999999999996, 0.0
Match 173 done: Leicester vs Crystal Palace, 0.0, 0.0
Match 174 done: Man City vs Tottenham, 0.039999999999999925, 0.19999999999999996
Match 175 done: Stoke vs West Ham, 0.0, 0.0
Match 176 done: Watford vs Huddersfield, 0.0, 0.0
Match 177 done: Bournemouth vs Liverpool, 0.0, 0.16000000000000003
Match 178 done: West Brom vs Man United, 0.0, 0.08000000000000007
Match 179 done: Everton vs Swansea, 0.04, 0.0
Match 180 done: Arsenal vs Liverpool, 0.27999999999999997, 0.24
Match 181 done: Brighton vs Watford, 0.0, 0.0
Match 182 done: Burnley vs Tottenham, 0.0, 0.2
Match 183 done: Everton vs Chelsea, 0.04, 0.08000000000000007
Match 184 done: Leicester vs Man United, 0.0, 0.04
Match 185 done: Man City vs Bournemouth, 0.07999999999999996, 0.0
Match 186 done: Southampton vs Huddersfield, 0.0, 0.0
Match 187 done: Stoke vs West Brom, 0.0, 0.0
Match 188 done: Swansea vs Crystal Palace, 0.0, 0.0
Match 189 done: West Ham vs Newcastle, 0.0, 0.0
Match 190 done: Bournemouth vs West Ham, 0.0, 0.0
Match 191 done: Chelsea vs Brighton, 0.07999999999999996, 0.0
Match 192 done: Huddersfield vs Stoke, 0.0, 0.0
Match 193 done: Liverpool vs Swansea, 0.16000000000000003, 0.0
Match 194 done: Man United vs Burnley, 0.12, 0.04
Match 195 done: Tottenham vs Southampton, 0.16000000000000003, 0.0
Match 196 done: Watford vs Leicester, 0.0, 0.0
Match 197 done: West Brom vs Everton, 0.0, 0.0
Match 198 done: Newcastle vs Man City, 0.0, 0.07999999999999996
Match 199 done: Crystal Palace vs Arsenal, 0.0, 0.12
Match 200 done: Bournemouth vs Everton, 0.0, 0.0
Match 201 done: Chelsea vs Stoke, 0.12, 0.0
Match 202 done: Huddersfield vs Burnley, 0.0, 0.04
Match 203 done: Liverpool vs Leicester, 0.16000000000000003, 0.0
Match 204 done: Man United vs Southampton, 0.16000000000000003, 0.0
Match 205 done: Newcastle vs Brighton, 0.0, 0.0
Match 206 done: Watford vs Swansea, 0.0, 0.0
Match 207 done: Crystal Palace vs Man City, 0.0, 0.040000000000000036
Match 208 done: West Brom vs Arsenal, 0.0, 0.24000000000000002
Match 209 done: Brighton vs Bournemouth, 0.0, 0.0
Match 210 done: Burnley vs Liverpool, 0.0, 0.24
Match 211 done: Everton vs Man United, 0.0, 0.15999999999999992
Match 212 done: Leicester vs Huddersfield, 0.0, 0.0
Match 213 done: Stoke vs Newcastle, 0.0, 0.0
Match 214 done: Man City vs Watford, 0.040000000000000036, 0.0
Match 215 done: Southampton vs Crystal Palace, 0.0, 0.0
Match 216 done: Swansea vs Tottenham, 0.0, 0.2
Match 217 done: West Ham vs West Brom, 0.0, 0.0
Match 218 done: Arsenal vs Chelsea, 0.2, 0.12
Match 219 done: Tottenham vs West Ham, 0.07999999999999996, 0.0
Match 220 done: Chelsea vs Leicester, 0.040000000000000036, 0.0
Match 221 done: Crystal Palace vs Burnley, 0.0, 0.0
Match 222 done: Huddersfield vs West Ham, 0.0, 0.0
Match 223 done: Newcastle vs Swansea, 0.0, 0.0
Match 224 done: Tottenham vs Everton, 0.12, 0.0
Match 225 done: Watford vs Southampton, 0.0, 0.0
Match 226 done: West Brom vs Brighton, 0.0, 0.0
Match 227 done: Bournemouth vs Arsenal, 0.0, 0.12
Match 228 done: Liverpool vs Man City, 0.040000000000000036, 0.040000000000000036
Match 229 done: Man United vs Stoke, 0.07999999999999996, 0.0
Match 230 done: Arsenal vs Crystal Palace, 0.04, 0.0
Match 231 done: Brighton vs Chelsea, 0.0, 0.12
Match 232 done: Burnley vs Man United, 0.0, 0.040000000000000036
Match 233 done: Everton vs West Brom, 0.0, 0.0
Match 234 done: Leicester vs Watford, 0.0, 0.0
Match 235 done: Man City vs Newcastle, 0.0, 0.0
Match 236 done: Stoke vs Huddersfield, 0.0, 0.0
Match 237 done: West Ham vs Bournemouth, 0.0, 0.0
Match 238 done: Southampton vs Tottenham, 0.0, 0.16000000000000003
Match 239 done: Swansea vs Liverpool, 0.0, 0.16000000000000003
Match 240 done: Huddersfield vs Liverpool, 0.0, 0.12
Match 241 done: Swansea vs Arsenal, 0.0, 0.04
Match 242 done: West Ham vs Crystal Palace, 0.0, 0.0
Match 243 done: Chelsea vs Bournemouth, 0.0, 0.0
Match 244 done: Everton vs Leicester, 0.0, 0.0
Match 245 done: Man City vs West Brom, 0.040000000000000036, 0.0
Match 246 done: Newcastle vs Burnley, 0.0, 0.0
Match 247 done: Southampton vs Brighton, 0.0, 0.0
Match 248 done: Stoke vs Watford, 0.0, 0.0
Match 249 done: Tottenham vs Man United, 0.20000000000000007, 0.15999999999999992
Match 250 done: Arsenal vs Everton, 0.0, 0.0
Match 251 done: Bournemouth vs Stoke, 0.0, 0.0
Match 252 done: Brighton vs West Ham, 0.0, 0.0
Match 253 done: Burnley vs Man City, 0.0, 0.0
Match 254 done: Leicester vs Swansea, 0.0, 0.0
Match 255 done: Man United vs Huddersfield, 0.07999999999999996, 0.0
Match 256 done: West Brom vs Southampton, 0.0, 0.0
Match 257 done: Crystal Palace vs Newcastle, 0.0, 0.0
Match 258 done: Liverpool vs Tottenham, 0.20000000000000007, 0.15999999999999992
Match 259 done: Watford vs Chelsea, 0.0, 0.07999999999999996
Match 260 done: Everton vs Crystal Palace, 0.0, 0.0
Match 261 done: Man City vs Leicester, 0.0, 0.0
Match 262 done: Stoke vs Brighton, 0.0, 0.0
Match 263 done: Swansea vs Burnley, 0.0, 0.0
Match 264 done: Tottenham vs Arsenal, 0.28, 0.12
Match 265 done: West Ham vs Watford, 0.0, 0.0
Match 266 done: Huddersfield vs Bournemouth, 0.0, 0.0
Match 267 done: Newcastle vs Man United, 0.0, 0.15999999999999992
Match 268 done: Southampton vs Liverpool, 0.0, 0.12
Match 269 done: Chelsea vs West Brom, 0.20000000000000007, 0.0
Match 270 done: Bournemouth vs Newcastle, 0.0, 0.0
Match 271 done: Brighton vs Swansea, 0.0, 0.0
Match 272 done: Burnley vs Southampton, 0.0, 0.0
Match 273 done: Leicester vs Stoke, 0.0, 0.0
Match 274 done: Liverpool vs West Ham, 0.07999999999999996, 0.0
Match 275 done: Watford vs Everton, 0.0, 0.0
Match 276 done: West Brom vs Huddersfield, 0.0, 0.0
Match 277 done: Crystal Palace vs Tottenham, 0.0, 0.16000000000000003
Match 278 done: Man United vs Chelsea, 0.24, 0.44
Match 279 done: Arsenal vs Man City, 0.0, 0.0
Match 280 done: Burnley vs Everton, 0.0, 0.0
Match 281 done: Leicester vs Bournemouth, 0.0, 0.0
Match 282 done: Liverpool vs Newcastle, 0.24, 0.0
Match 283 done: Southampton vs Stoke, 0.0, 0.0
Match 284 done: Swansea vs West Ham, 0.0, 0.0
Match 285 done: Tottenham vs Huddersfield, 0.039999999999999925, 0.0
Match 286 done: Watford vs West Brom, 0.0, 0.0
Match 287 done: Brighton vs Arsenal, 0.0, 0.0
Match 288 done: Man City vs Chelsea, 0.0, 0.15999999999999998
Match 289 done: Crystal Palace vs Man United, 0.0, 0.12
Match 290 done: Chelsea vs Crystal Palace, 0.039999999999999994, 0.0
Match 291 done: Everton vs Brighton, 0.0, 0.0
Match 292 done: Huddersfield vs Swansea, 0.0, 0.0
Match 293 done: Man United vs Liverpool, 0.040000000000000036, 0.16000000000000003
Match 294 done: Newcastle vs Southampton, 0.0, 0.0
Match 295 done: West Brom vs Leicester, 0.0, 0.0
Match 296 done: West Ham vs Burnley, 0.0, 0.0
Match 297 done: Arsenal vs Watford, 0.0, 0.0
Match 298 done: Bournemouth vs Tottenham, 0.0, 0.040000000000000036
Match 299 done: Stoke vs Man City, 0.0, 0.0
Match 300 done: Bournemouth vs West Brom, 0.0, 0.0
Match 301 done: Huddersfield vs Crystal Palace, 0.0, 0.0
Match 302 done: Liverpool vs Watford, 0.12, 0.0
Match 303 done: Stoke vs Everton, 0.0, 0.0
Match 304 done: Brighton vs Leicester, 0.0, 0.0
Match 305 done: Crystal Palace vs Liverpool, 0.0, 0.039999999999999925
Match 306 done: Everton vs Man City, 0.0, 0.0
Match 307 done: Man United vs Swansea, 0.0, 0.0
Match 308 done: Newcastle vs Huddersfield, 0.0, 0.0
Match 309 done: Watford vs Bournemouth, 0.0, 0.0
Match 310 done: West Brom vs Burnley, 0.0, 0.0
Match 311 done: West Ham vs Southampton, 0.0, 0.0
Match 312 done: Arsenal vs Stoke, 0.0, 0.0
Match 313 done: Chelsea vs Tottenham, 0.2, 0.16000000000000003
Match 314 done: Bournemouth vs Crystal Palace, 0.0, 0.0
Match 315 done: Brighton vs Huddersfield, 0.0, 0.0
Match 316 done: Everton vs Liverpool, 0.0, 0.040000000000000036
Match 317 done: Leicester vs Newcastle, 0.0, 0.0
Match 318 done: Man City vs Man United, 0.0, 0.0
Match 319 done: Stoke vs Tottenham, 0.0, 0.040000000000000036
Match 320 done: Watford vs Burnley, 0.0, 0.0
Match 321 done: West Brom vs Swansea, 0.0, 0.0
Match 322 done: Arsenal vs Southampton, 0.0, 0.0
Match 323 done: Chelsea vs West Ham, 0.04, 0.0
Match 324 done: Burnley vs Leicester, 0.0, 0.0
Match 325 done: Crystal Palace vs Brighton, 0.0, 0.0
Match 326 done: Huddersfield vs Watford, 0.0, 0.0
Match 327 done: Liverpool vs Bournemouth, 0.0, 0.0
Match 328 done: Southampton vs Chelsea, 0.0, 0.0
Match 329 done: Swansea vs Everton, 0.0, 0.0
Match 330 done: Tottenham vs Man City, 0.0, 0.0
Match 331 done: Man United vs West Brom, 0.0, 0.0
Match 332 done: Newcastle vs Arsenal, 0.0, 0.0
Match 333 done: West Ham vs Stoke, 0.0, 0.0
Match 334 done: Brighton vs Tottenham, 0.0, 0.040000000000000036
Match 335 done: Bournemouth vs Man United, 0.0, 0.0
Match 336 done: Burnley vs Chelsea, 0.0, 0.04
Match 337 done: Leicester vs Southampton, 0.0, 0.0
Match 338 done: Watford vs Crystal Palace, 0.0, 0.0
Match 339 done: West Brom vs Liverpool, 0.0, 0.040000000000000036
Match 340 done: Arsenal vs West Ham, 0.0, 0.0
Match 341 done: Man City vs Swansea, 0.0, 0.0
Match 342 done: Stoke vs Burnley, 0.0, 0.0
Match 343 done: Everton vs Newcastle, 0.0, 0.0
Match 344 done: Burnley vs Brighton, 0.0, 0.0
Match 345 done: Crystal Palace vs Leicester, 0.0, 0.0
Match 346 done: Huddersfield vs Everton, 0.0, 0.0
Match 347 done: Liverpool vs Stoke, 0.0, 0.0
Match 348 done: Newcastle vs West Brom, 0.0, 0.0
Match 349 done: Southampton vs Bournemouth, 0.0, 0.0
Match 350 done: Swansea vs Chelsea, 0.0, 0.08
Match 351 done: Man United vs Arsenal, 0.0, 0.0
Match 352 done: West Ham vs Man City, 0.0, 0.0
Match 353 done: Tottenham vs Watford, 0.16000000000000003, 0.0
Match 354 done: Brighton vs Man United, 0.0, 0.0
Match 355 done: Bournemouth vs Swansea, 0.0, 0.0
Match 356 done: Everton vs Southampton, 0.0, 0.0
Match 357 done: Leicester vs West Ham, 0.0, 0.0
Match 358 done: Stoke vs Crystal Palace, 0.0, 0.0
Match 359 done: Watford vs Newcastle, 0.0, 0.0
Match 360 done: West Brom vs Tottenham, 0.0, 0.039999999999999925
Match 361 done: Arsenal vs Burnley, 0.0, 0.0
Match 362 done: Chelsea vs Liverpool, 0.24000000000000002, 0.19999999999999996
Match 363 done: Man City vs Huddersfield, 0.0, 0.0
Match 364 done: Swansea vs Southampton, 0.0, 0.0
Match 365 done: Chelsea vs Huddersfield, 0.24000000000000002, 0.0
Match 366 done: Leicester vs Arsenal, 0.0, 0.0
Match 367 done: Man City vs Brighton, 0.0, 0.0
Match 368 done: Tottenham vs Newcastle, 0.16000000000000003, 0.0
Match 369 done: West Ham vs Man United, 0.0, 0.0
Match 370 done: Burnley vs Bournemouth, 0.0, 0.0

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA,TeamEloWinProb,HI,AI
0,E0,2017-08-11,Arsenal,Leicester,4,3,H,2,2,D,...,1.91,1.85,2.10,2.02,1.49,4.73,7.25,0.680436,0.12,0.04
1,E0,2017-08-12,Brighton,Man City,0,2,A,0,0,D,...,1.95,1.91,2.01,1.96,11.75,6.15,1.29,0.163951,0.04,0.16
2,E0,2017-08-12,Chelsea,Burnley,2,3,A,0,3,A,...,2.03,1.97,1.95,1.90,1.33,5.40,12.25,0.833734,0.12,0.04
3,E0,2017-08-12,Crystal Palace,Huddersfield,0,3,A,0,2,A,...,2.10,2.05,1.86,1.83,1.79,3.56,5.51,0.723831,0.00,0.04
4,E0,2017-08-12,Everton,Stoke,1,0,H,1,0,H,...,1.94,1.90,2.01,1.98,1.82,3.49,5.42,0.623467,0.04,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,2018-05-13,Newcastle,Chelsea,3,0,H,1,0,H,...,1.90,1.83,2.11,2.03,4.85,3.72,1.80,0.224904,0.00,0.00
376,E0,2018-05-13,Southampton,Man City,0,1,A,0,0,D,...,2.01,1.95,1.97,1.91,6.32,4.78,1.51,0.139422,0.00,0.00
377,E0,2018-05-13,Swansea,Stoke,1,2,A,1,2,A,...,1.94,1.88,2.03,1.98,2.08,3.56,3.82,0.528203,0.00,0.00
378,E0,2018-05-13,Tottenham,Leicester,5,4,H,1,2,A,...,1.96,1.86,2.05,2.00,1.38,5.50,8.15,0.770980,0.00,0.00
379,E0,2018-05-13,West Ham,Everton,3,1,H,1,0,H,...,2.09,2.03,1.88,1.84,2.35,3.40,3.28,0.432656,0.00,0.00